@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Londrina+Outline&display=swap');

:root {
    --red-color: #AB1507;
    --cream-color: #D0C9BF;
}

body {
    max-height: 100vh;
    background-color: var(--cream-color);
    font-family: 'Antonio', sans-serif;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 16px auto;
}

.home-link {
    position: relative;
    right: 50px;
}

.home-link > div {
    width: 40px;
    height: 40px;
    background-image: url('./image/salmon-sushi-logo.png');
    background-size: cover;
}

.home-link > div:hover {
    filter: contrast(200%);
}

.nav-link {
    display: inline-block;
    position: relative;
    color: var(--red-color);
    font-size: 1.35rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    margin: 12px 20px;
} 

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: var(--red-color);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.home-background, .location-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 95vw;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
}

.home-background {
    background-image: url('./image/sushi-background.jpg');
}

.location-background {
    flex-direction: column;
    background-image: url('./image/restaurant.jpg');
}

.title-card {
    width: 250px;
    background-color: var(--cream-color);
    padding: 8px;
}

.logo {
    height: 80px;
    width: 80px;
    background-image: url('./image/salmon-sushi-logo.png');
    background-size: cover;
    margin: 12px auto 8px;
}

hr {
    width: 80%;
    border: none;
    border-top: 1px solid #1A1A1A;
}

hr:last-child {
    margin-bottom: 16px;
}

.cuisine-title {
    font-family: 'Londrina Outline', sans-serif;
    font-size: 2.6rem;
    letter-spacing: 3px;
    text-align: center;
    margin: 0;
}

.main-title {
    font-size: 5.2rem;
    line-height: 0.8;
    letter-spacing: 3px;
    margin: 8px 0 24px;
    text-align: center;
}

.and-symbol {
    display: inline-block;
    font-size: 4.15rem;
}

.grid-container {
    width: min(750px, 55%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space;
    background-color: var(--cream-color);
    text-align: center;
    line-height: 0.9;
    padding: 20px;
    border-radius: 16px;
}

.grid-item > h2 {
    font-size: 1.65rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

h2 ~ p {
    font-size: 1.15rem;
    margin: 6px;
}

.contact {
    font-size: 1.15rem;
    margin-top: 20px;
}

.grid-container + h2 {
    background-color: var(--red-color);
    color: var(--cream-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px;
    border-radius: 20px;
}

.footer-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-align: center;
    font-size: 1.2rem;
}

i[class*="github"] {
    font-size: 1.5rem;
    color: var(--red-color);
}

i[class*="github"]:hover {
    color: #1A1A1A;
}