@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Londrina+Outline&display=swap');

:root {
    --red-color: #AB1507;
    --cream-color: #D0C9BF;
}

body {
    max-height: 100vh;
    background-color: var(--cream-color);
    font-family: 'Antonio', sans-serif;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 16px auto;
}

#home-link {
    position: relative;
    right: 50px;
    margin: 0;
}

#home-link > div {
    width: 40px;
    height: 40px;
    background-image: url('./image/salmon-sushi-logo.png');
    background-size: cover;
    cursor: pointer;
}

#home-link > div:hover {
    filter: contrast(200%);
}

#home-link::after {
    background-color: var(--cream-color);
}

#home-link.active {
    display: none;
}

.nav-link {
    display: inline-block;
    position: relative;
    color: var(--red-color);
    font-size: 1.35rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    margin: 12px 20px;
} 

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: var(--red-color);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.nav-link.active::after {
    transform: scaleX(1);
}

.home-background, .about-background, .location-background, .menu-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 95vw;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
}

.home-background {
    background-image: url('./image/sushi-background.jpg');
}

.location-background {
    flex-direction: column;
    background-image: url('./image/restaurant.jpg');
}

.about-background, .menu-background {
    flex-direction: column;
    background-image: url('./image/salmon-meat.jpg');
    filter: contrast(120%);
}

.title-card {
    width: 250px;
    background-color: var(--cream-color);
    padding: 8px;
}

.logo {
    height: 80px;
    width: 80px;
    background-image: url('./image/salmon-sushi-logo.png');
    background-size: cover;
    margin: 12px auto 8px;
}

hr {
    width: 80%;
    border: none;
    border-top: 1px solid #1A1A1A;
}

hr:last-child {
    margin-bottom: 16px;
}

.cuisine-title {
    font-family: 'Londrina Outline', sans-serif;
    font-size: 2.6rem;
    letter-spacing: 3px;
    text-align: center;
    margin: 0;
}

.main-title {
    font-size: 5.2rem;
    line-height: 0.8;
    letter-spacing: 3px;
    margin: 8px 0 24px;
    text-align: center;
}

.and-symbol {
    display: inline-block;
    font-size: 4.15rem;
}

.welcome-text {
    width: 600px;
    background-color: var(--cream-color);
    padding: 12px 20px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.welcome-text > h1 {
    font-size: 2.2rem;
    color: var(--red-color);
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin: 2px 0;
}

.welcome-text > p {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 8px 0;
}

.story-text {
    width: min(55%, 700px);
    background-color: var(--cream-color);
    padding: 16px;
    border-radius: 16px;
}

.story-text > h1 {
    font-size: 2.2rem;
    color: var(--red-color);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    margin: 2px 0 10px;
}

.story-image {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
}

.story-image > div {
    width: 220px;
    height: 120px;
    background-size: cover;
    border-radius: 12px;
}

.restaurant {
    background-image: url('./image/journey/restaurant.png');
}

.sushi-chef {
    background-image: url('./image/journey/sushi-chef.jpeg');
}

.story-image ~ h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    margin: 6px 0;
}

.story-image ~ p {
    width: 80%;
    font-size: 1.1rem;
    line-height: 1.4;
    opacity: 1;
    text-align: start;
    margin: 0 auto 8px;
}

.location-grid {
    width: min(750px, 55%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.location-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cream-color);
    text-align: center;
    line-height: 0.9;
    padding: 12px;
    border-radius: 16px;
}

.location-grid-item > h2 {
    font-size: 1.65rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

h2 ~ p {
    font-size: 1.15rem;
    margin: 6px;
}

.opening-hours {
    margin: 14px 0;
}

.menu-background > h1 {
    background-color: var(--cream-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 12px 180px;
    border-radius: 16px;
}

.menu-grid {
    width: min(750px, 60%);
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.menu-grid-item {
    background-color: var(--cream-color);
    padding: 12px 20px;
    border-radius: 16px;
}

.menu-grid-item > div {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-color: var(--cream-color);
    background-size: cover;
    background-position: center;
}

#nigiri-img {
    width: 120px;
    background-image: url('./image/sushi-types/nigiri.png');
}

#sashimi-img {
    width: 100px;
    background-image: url('./image/sushi-types/sashimi.png');
}

#maki-img {
    width: 80px;
    background-image: url('./image/sushi-types/maki.png');
}

#temaki-img {
    background-image: url('./image/sushi-types/temaki.png');
}

#poke-img {
    width: 80px;
    height: 80px;
    background-image: url('./image/sushi-types/poke.png');
}

#uramaki-img {
    background-image: url('./image/sushi-types/uramaki.png');
}

.menu-grid-item > h3 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: center;
    margin: 6px auto 0;
}

h3 + p {
    font-size: 1.1rem;
    text-align: center;
    opacity: 0.6;
    margin: 0;
}

.menu-grid-item > p:last-child {
    margin-top: 6px;
    line-height: 1.4;
}

i[class*="clock"] {
    font-size: 1.2rem;
    margin: 2px 0;
}

i ~ h4 {
    margin: 6px;
}

.contact {
    font-size: 1.15rem;
    margin-top: -20px;
}

.location-grid + h2 {
    background-color: var(--red-color);
    color: var(--cream-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px;
    border-radius: 20px;
}

.footer-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-align: center;
    font-size: 1.2rem;
}

i[class*="github"] {
    font-size: 1.5rem;
    color: var(--red-color);
}

i[class*="github"]:hover {
    color: #1A1A1A;
}